@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap');


$primary-color: #3498db;
$secondary-color: #2ecc71;
$text-color: #333;
$font-family: "Yanone Kaffeesatz", sans-serif;
$bg-color: #FFFFFF;